body {
    color: orange;
    font-size: 20px;
    font-weight: 800;
    background-color: lightblue;
}

h1 {
    color: red;
    FIGURE 3-4: Selecting Split mode displays both design and source code information. FIGURE 3-5: Code window with display of text HTML and CSS ❘ 57 font-size: 26px;
}

.special {
    color: black;
    font-size: 16px;
}
.introduction {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: #800000;
}
